.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;

}


.navbar-nav .nav-link {
  font-size: 1.1rem;
  margin-left: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-link:hover {
  color: #ff9800 !important;
  transform: translateY(-2px);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #f8f9fa;
}

.navbar-dark {
  background-color: #343a40;
}
/* styles.css */
.navbar-collapse {
  transition: max-height 0.3s ease; /* Smooth transition for collapsing */
}

.navbar-collapse.show + .btn-close {
  display: block !important; /* Show the close button when the navbar is expanded */
}

.btn-close {
  display: none; /* Initially hide the close button */
}
